/* 
Color Reference :

Blue: #007bc1
Dark blue: ​ #004a75
Orange: ​ #ff8000
Dark orange: #cc6600
Smoke Grey: #e5e5e5 

*/

html, body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.5;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

section, div, footer, .first-modal{
    display: block;
}

#hero, #main-content, .footer{
    padding: 50px 0;
}

.first-modal{
    background: #e5e5e5;
    width: 100%;
    min-width: 480px;
    text-align: left;
    font-size: 14px;
    position: fixed;
    z-index: 1;
    transition: 1s;
    padding: 20px;
}

.modal-content{
    margin: auto;
    max-width: 720px;
}

.modal-button{
    background: #007bc1;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 15px;
    display: inline-block;
    cursor: pointer;
}

.modal-button:hover{
    background: #004a75;
    transition: 1s;
}

.modal-text{
    width: 80%;
}

.text-blue{
    text-decoration: none;
    cursor: pointer;
}

#hero{
    width: 100%;
    height: 500px;
    min-width: 480px;
    background: url(./img/work-desk__dustin-lee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-overlay{
    background: rgba(0, 74, 117, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-content{
    margin-top: 30px;
    padding: 50px 0;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.hero-content > h2{
    padding: 10px;
}

.image-logo{
    margin-top: 70px;
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 20px;
    top: 10px;
    left: 10px;
}

.hero-content > p {
    margin: 0;
    padding: 3px;
}

.title-text{
    font-weight: 300;
}

.button{
    margin-top: 20px;
    color: #ffffff;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
}

.button:hover{
    background-color: #ffffff;
    color: #004a75;
    cursor: pointer;
    transition: 1s;
}

#main-content{
    text-align: center;
    background-color: #e5e5e5; 
    min-width: 480px;
    height: auto;
}

.main-title{
    font-size: 25px;
    margin-bottom: 10px;
}

.content-text{
    padding: 0 20px 20px 20px;
    max-width: 570px;
    margin: auto;

}

ul > li{
    list-style: none;
}

.cards-wrapper{
    display: inline-block;
}

.block-cards{
    display: inline-block;
    margin: 0;
    padding: 0 20px;
}

.cards{
    font-size: 13px;
    padding: 20px;
    width: 350px;
    margin: 10px;
    border: 1px solid #bbbbbb;
}

.cards-title{
    font-size: 20px;
    display: block;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
}

.icon{
    font-size: 24px;
    color: #aaaaaa;
}

.cards > p{
    text-align: left;
}

.second-modal{
    max-width: 640px;
    min-width: 480px;
    background: rgba(0, 123, 193, 0.9);
    color: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    display: none;
}

.modal-title{
    margin-top: 10px;
}

.second-modal > button{
    color: #ffffff;
    text-decoration: none;
    background: none;
    border: none;
    padding: 5px 10px;
}

.modal-subs{
    padding: 30px;
}

.modal-subs > p{
    font-size: 16px;
    padding: 5px 0;
}

.close-button{
    cursor: pointer;
    display: block;
    outline: none;
    font-size: 20px;
}

.modal-input{
    display: block;
    padding-bottom: 30px;
}

.button-input{
    color: #ffffff;
    background: #FF9800;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.button-input:hover{
    background: #FFC107;
    color: #333333;
    transition: 1s;
}

.email-input{
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    width: 75%;
    box-sizing: border-box;
    outline: none;
    margin-right: 10px;
}

.footer{
    min-width: 480px;
    background-color: #004a75;
    text-align: center;
    color: #ffffff;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

@media only screen and (max-width: 1280px) {
    .block-cards{
        display: block;
    }
}
@media only screen and (max-width: 960px) {
    .block-cards{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 720px) {
    .modal-text{
        width: 90%;
        padding-right: 10%;
    }
    .modal-button{
        margin-top: 10px;
    }    
}
@media only screen and (max-width: 540px) {
    .block-cards{
        display: inline-block;
    }
    .sub-text{
        padding: 0 30px;
    }
    .modal-content{
        display: inline;
    }
    .email-input, .button-input{
        margin: 5px 0;
        display: block;
        width: 100%
    }
    .modal-text{
        display: block;
    }
}